@tailwind base;
@tailwind components;
@tailwind utilities;

body,
button,
input {
	font-family: 'Gowun Dodum', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2rem;
}

/* 새로운 클래스 추가 */
.theme-default {
	@apply bg-light-background dark:bg-dark-background text-light-text dark:text-dark-text;
}
